[Unit]
Description=IPerf2 server
Documentation=man:iperf(1)
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/iperf -sV
Restart=on-failure
TimeoutSec=5
User=ookla
Group=ookla

[Install]
WantedBy=multi-user.target
